html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

* {
	font-size: 15px;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
			   	box-sizing: border-box;
}

/* HEADER SIZES */

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
	font-style: italic;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

a {
	text-decoration: none;
	color:inherit;

}

#logo {
  width: 180px;
	float: left;
	position: absolute;
	top: 50px;
	z-index: 1000;
	left: 3%;
}

/* TOP BAR + SOCIAL MEDIA ICONS */


/* NAVBAR */
#line {
	height: 5px;
	width: 30px;
	border: 1px solid black;
}

nav {
	position: relative;
	margin: 35px 0;
	z-index: 1000;
	font-size: 15px;
	font-weight: bold;

}

/* Centering navbar with this wrapper and set it to table display */
#navContainer {
	display: table;
	margin: 0 auto;
	border-bottom: 1.5px solid #42bf8f;

}



ul.navUl {
  margin: 0px;
  padding: 0px;
  list-style: none;
	text-decoration: none;
}


ul li.navLi {
  float:left;
  width: 100px;
  height: 40px;
	text-align: left;
	line-height: 40px;
	color: black;
	padding: 10px 0;
	cursor: pointer;
}

ul li a:hover {
	color: #42bf8f;

	/* background-color: #333333; */
}

.navHeader {
	color: black;
}

ul li a {
  display: block;
	padding-left: 21px;
}

ul li ul {
	margin-top: 9px;
	/*
	width: 100vw;
	margin-left: calc(-42vw + 50%);
	display: flex;
	*/
}

ul li ul  li {
	color: white;
	text-align: left;
	font-family: arial;
	font-size: 13px;
	display: none;
	width: 220px;;
}

.noDropBar {
	text-align: center;
	padding-left: 0px;
	color: black;
}

ul li ul li a:hover {
	background: white;
	opacity: .6;
	color: #42bf8f !important;
}


ul li:hover ul  li {
	background: #333333;
  display: block;
	cursor: pointer;

}

/*

.navLI a:visited,
.navLI a:focus,
.navLI a:link,
.navLiLi a:visited,
.navLiLI a:focus,
.navLiLi a:link {
}

*/

#contactButton {
	position: absolute;
	right: 5%;
	padding: 15px;
	background: #42bf8f;
	color: white;
}


/* CENTER DISPLAY  */
.mainImg {
	width: 100%;
	height: 600px;
}

#slideShowcontainer {
  width: 100%;
  height: 500px;
	/* background:  linear-gradient(to right bottom, #FBD3E9, #ff00ff); */
}

#slideShow {
  height: 100%;
  width: 100%;
}

#slideShow img {
  height: 100%;
  width: 100%;
	z-index: -500;
}

.cycle-pager {
	bottom: 80px;
	text-align: center;
	position: relative;
	z-index: 500;
}

.cycle-pager span {
	cursor: pointer;
	font-size: 50px;

	padding: 0 3px;
	width:16px;
	height: 16px;
}

.cycle-pager span.cycle-pager-active {
	color: #42bf8f;
}

.mainImg {
	width: 100%;
	height: 450px;
	vertical-align: text-bottom;
}

/* TOP TITLE BAR AND INTRO TYPE 1 */


.topTitleBar,
.topTitleBar2 {
	height: 50px;
	line-height: 50px;
	background: #42bf8f;
	margin-bottom: 60px;
}

.topTitleBar2 {
	margin-bottom: 0px;
}

.topTitleBarText1,
.topTitleBarText2 {
	margin-left: 3%;
	vertical-align: middle;
	z-index: 1000;
	color: white;
	display: inline-block;
}

.topTitleBarText2 {
	float: right;
	margin-right: 3%;
}

.topTitleBarText1:hover,
.topTitleBarText2:hover {
	color:#696969;
}

.topTitleBarTextBack {
	margin-left: 30px;
	float: left;
	text-decoration: none;
	color: white;
}

.introOneBoxContainer {
	height: 200px
}

.introOneBox {
	width: 35%;
	padding: 70px;
	background: #6A5ACD;
	line-height: 1.7;
	font-size: 18px;
	color: white;
	display: inline-block;
	position: relative;
	bottom: 250px;
}

#introOneBoxHeader {
	position: relative;
	bottom: 20px;
}

.line {
	border: .3px solid black;
	margin-top: 30px;
}

#introText {
	width: 70%;
	margin: 15px auto;
	line-height: 1.4;
	text-align: justify;

}


#introTextImgContainer {
	width: 70%;
	margin: 15px auto;
}

#introTextImg {
	height: 300px;
	width: 400px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

#introQuote {
	width: 35%;
	float: right;
	line-height: 1.5;
	font-style: italic;
	position: relative;
	right: 7%;
	top: 60px;
	color: #FF3E8A;
	font-weight: bold;
}

#person {
	margin-top: 15px;
	font-style: normal;
	text-align: right;
}


/* TOP TITLE BAR AND INTRO TYPE 1 */

.introContainer2 {
	margin: 30px auto;
	text-align: center;
}

#headerLineLeft,
#headerLineRight {
	width: 200px;
	height: 3px;
	background: black;
	display: block;
	position: relative;
}

#headerLineLeft {
	left: 15%;
	top: 19px;
}

#headerLineRight {
	float:right;
	right: 15%;
	bottom: 19px;
}


/* SOURCE */

.sourceNew {
	background: black;
	position: fixed;
	color: white;
}

.sourceInactive {
	display: none;
}
/* MENU ONE  */


.menuOneDark,
.menuOneLight {
	height: 190px;
	background:#333333;
	color:white;
	width: 90%;
	margin: 0 auto;
	position: relative;

}

.menuOneLight {
	background: #F5F5DC;
	color:black;
}

.menuOneImg {
	height: 170px;
	width: 280px;
	padding: 10px;

}

.menuOneTextContainer {
	width: 60%;
	position: absolute;
	left: 380px;
	top: 25px;
	line-height: 1.5;
}

.menuOneButtonDark,
.menuOneButtonLight {
	padding: 10px;
	position: absolute;
	left: 380px;
	bottom: 20px; /* PARENT ELEMENT NEED TO BE SET TO RELATIVE ON ORDER TO ATTACH TO BOTTOM */
	text-decoration: none;
	color: white;
	z-index: 1000;
	width: 100px;
	text-align: center;
	border: 1px solid white;
}

.menuOneButtonLight {
	color: black;
	border: 1px solid black;
	height: 15px;
	width: 100px;
}

.menuOneText1,
.menuOneText2,
.menuOneText3,
.menuOneText4,
.menuOneText5,
.menuOneText6 {
	position: relative;
}


.menuOneButtonAnimation1,
.menuOneButtonAnimation2,
.menuOneButtonAnimation3,
.menuOneButtonAnimation4,
.menuOneButtonAnimation5,
.menuOneButtonAnimation6 {
	position: absolute;
	left: 380px;
	bottom: 20px;
	background: #42bf8f;
	height: 37px;
}

/* MENU TEXT ONE */

#menuOneMainTextHeader {
	margin: 30px 0;
	font-size: 40px;
}

.menuOneMainTextContainerLeft,
.menuOneMainTextContainerRight,
.menuOneMainTextContainerHorizontal {
	width: 60%;
	margin-left: 5%;
	border: 1px solid #696969;
	color: #696969;
	padding: 15px;
	display: inline-block;
}

.menuOneMainTextContainerHorizontal {
	width: 90%;
}

.menuOneMainTextContainerRight {
	margin-right: 5%;
	float: right;
	clear: both;
}

.menuOneMainTextPara {
	margin-bottom: 15px;
	line-height: 1.5;
	text-align: justify;
}


#menuOneMainImg {
	width: 80%;
	border: 3px solid #333333;
	margin-bottom: 10px;
}

#menuOneMainBeforeList {
	margin-bottom: 10px;
}

#menuOneList {
	list-style-type: decimal;
}

#menuOneTextBreakerRight {
	height: 250px;
	width: 82%;
	background: #FF1493;
	margin: 60px 0;
	float: right;
	clear:right;
}

#menuOneTextBreakerLeft {
	height: 250px;
	width: 82%;
	background: #38FFE8;
	clear: left;
	margin: 60px 0;
	display: inline-block;
}

#centerImg,
#centerImg2 {
	width: 60%;
	height: 450px;
	margin: 60px 0;
	margin-left: 20%;
}

#centerImg2 {
	margin-left: 5%;
}

#sideImgLeft {
	width: 26%;
	height: 550px;
	float: left;
	position: relative;
	top: 100px;
}

/* SIDE MENU */

.sideMenuContainer,
.sideMenuContainerSocial {
	float: right;
	width: 30%;
	margin-right: 1%;
}

.sideMenuHeader,
.sideMenuHeaderSocial {
	text-align: center;
	background: #42bf8f;
	padding: 20px;
}

.sideMenuContainerSocial {
	border: 1px solid;
	text-align:center;
	float: left;
	position: relative;
	bottom: 140px;

}

.sideMenuHeaderSocial {
	background: #3B5998;
}

.sideMenu {
	margin: 0 auto;
	margin-top: 50px;
	width: 90%;;
	height: 180px;
	text-align: center;
}

.sideMenuImg1,
.sideMenuImg2,
.sideMenuImg3,
.sideMenuImg4 {
	width: 85%;
	height: 85%;
	border: 1px solid grey;

}

.sideMenuImgText1,
.sideMenuImgText2,
.sideMenuImgText3,
.sideMenuImgText4 {
	text-align: center;
	width: 85%;
	position: relative;
	left: 8%;

}

.sideMenuBorderShadow {
	box-shadow: 5px 10px;
}

.sideMenuImgTextColor {
	color: #42bf8f;
}
/* SUB-MENU BOX TYPE 2 */

.speechBubbleBackground1,
.speechBubbleBackground2,
.speechBubbleBackground3 {
	height: 160px;
	background: #3E5DFF;
	color: white;
	line-height: 110px;
	text-align: center;
	font-size: 24px;
}

.speechBubbleBackground2 {
	background: #ff1493;
}

.speechBubbleBackground3 {
	background: #ff8b10;
}

.speechBubbleArrow,
.speechBubbleArrow2,
.speechBubbleArrow3 {
	width: 100%;
	margin: 0 auto;
	z-index: 1000;

	/* ARROW */
	width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #3E5DFF;
}

.speechBubbleArrow2 {
	border-top: 50px solid #ff1493;
}

.speechBubbleArrow3 {
	border-top: 50px solid #ff8b10;
}


/* MENU TWO INRTO PAGE */

.menuTwoBackground {
	background: #333333;
	height: 580px;
	position: relative;
	bottom: 60px;
	width: 100%;
	min-width: 1000px;
}

#menuTwoContainerAll {

}

.menuTwoContainer1,
.menuTwoContainer2,
.menuTwoContainer3,
.menuTwoContainer4,
.menuTwoContainer5,
.menuTwoContainer6,
.menuTwoContainer7,
.menuTwoContainer8 {
	width: 26%;
	height: 450px;
	margin: 30px 3%;
	float: left;
	text-align: center;
	border-radius: 2px;
	cursor:pointer;
	background: white;
	font-family: "Gill Sans" !important;
	border: 2px solid #3E5DFF;
}

.menuTwoContainer1,
.menuTwoContainer4,
.menuTwoContainer7 {
	/* background: #5941bf; */
	border: 2px solid #ff1493;
	margin-left: 5%;
}

.menuTwoContainer3,
.menuTwoContainer6 {
	/* background: #fffb9c; */
	border: 2px solid #ff8b10;
}

.menuTwoContainer1:hover,
.menuTwoContainer2:hover,
.menuTwoContainer3:hover,
.menuTwoContainer4:hover,
.menuTwoContainer5:hover,
.menuTwoContainer6:hover,
.menuTwoContainer7:hover,
.menuTwoContainer8:hover {
	box-shadow: 10px 10px 10px #42bf8f;
	border: 2px solid #42bf8f;
}

.menuTwoImg {
	width: 100%;
	height: 230px;
}

.menuTwoText1,
.menuTwoText2,
.menuTwoText3 {
	margin: 0 auto;
	width: 90%;
	line-height: 1.5;
	/* color: #696969; */
}

.menuTwoHeader1,
.menuTwoText2,
.menuTwoHeader3 {
	margin: 5px auto;
	border-bottom: 2px;
}


.arrowContainer {
	position: absolute;
	bottom: 65px;
	margin-left: 80px;
}

.arrowText1,
.arrowText2,
.arrowText3,
.arrowText4,
.arrowText5,
.arrowText6,
.arrowText7,
.arrowText8 {
	display: inline-block;
}


.headerActive {
	color: #42bf8f;
}

.arrowTextActive {
	color: #42bf8f ;
	border-bottom: 1px solid #42bf8f ;
}

.arrow1,
.arrow2,
.arrow3,
.arrow4,
.arrow5,
.arrow6,
.arrow7,
.arrow8 {
	float: right;
	margin-left: 5px;
	margin-top: 3px;
	position: relative;

	/* arrow */
	width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid;
}

.arrowActive {
	border-left: 8px solid #42bf8f ;
}

/* MENU TWO TEXT PAGE */

.menuTwoTextContainerLeft {
	width: 60%;
	position: relative;
	left: 3%;
	padding-left: 3%;
	border-left: 5px solid #696969;
	float: left;
	/* color: #696969; */

}

.menuTwoTextContainerRight {
	width: 60%;
	float: right;
	margin-right: 3%;
	padding-right:3%;
	border-right: 5px solid #696969;
	/* color: #696969; */

}

#menuTwoTextHeader {
	line-height: 1.2;
}

/* MENU TWO SIDE BOX */

#menuTwoTextSection {
	clear:both;
}

#menuTwoSideBoxContainerRight,
#menuTwoSideBoxContainerLeft {
	width: 27%;
	height: 650px;
	float: right;
	margin-right: 2%;
	text-align: center;
	color: white;
}

.menuTwoSideBoxContentGreen {
	background: #42bf8f;
	height: 100%;
}

.menuTwoSideBoxContentGrey {
	background: #333333;
	height: 100%;
}

.menuTwoSideBoxContentPink {
	background: #ff1493;
	height: 100%;
}

.menuTwoSideBoxContentOrange {
	background: #ff8b10;
	height: 100%;
}


#menuTwoSideBoxContainerLeft {
	float: left;
	position: relative;
	left: 3%;
}

#menuTwoSideHeader {
	padding: 15px;
}

#trafficSteps,
#trafficBoxResult {
	border: 1px solid white;
	padding: 5px;
}

#trafficBoxResult {
	margin-bottom: 45px;
}

#plus {
	font-size: 40px;
}

#plusModern {
	color: white;
	float: left;
	position: relative;
	top: 360px;
	font-size: 40px;
}

.trafficStepsList li {
	list-style-type: none;
}

#trafficDummy {
	line-height: 0.5;
	color: #1F2D7F;
}

#trafficDummyGreen {
	color:#42bf8f;
	line-height: 0.3;
}

#trafficLong {
	line-height: 1;
}

#menuTwoSideMenuRight,
#menuTwoSideMenuLeft,
#menuTwoSideMenuLeftInfo {
	width: 33%;
	position: relative;
	top: 130px;
	float: right;
}

#menuTwoSideMenuLeft {
	float: left;
}

#menuTwoSideMenuLeftInfo {
	float: left;
	top: 0;
}

.menuTwoImgContainer {
	margin: 0 auto;
	width: 90%;;
	height: 180px;
	text-align: center;
	margin: 0 auto;
}

#menuTwoSideImg {
	width: 50%;
	margin-bottom:10px;
}

#menuTwoSideImgSmall {
	width: 80%;
	border-radius: 4px;
}

#menuTwoSideImgBig {
	width: 30%;
}

#menuTwoSideImgInfo {
	width: 90%;
	border: 4px solid #ff8b10;
	border-radius: 3px;
}

#menuTwoSideText {
	line-height: 1.5;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#menuTwoTextHeader {
	margin-bottom: 10px;
}

.menuTwoTextPara,
.menuTwoTextParaDefinition {
	line-height: 1.5;
	margin-bottom: 15px;
	text-align: justify;
}

.menuTwoTextParaDefinition {
	position: relative;
	left: 5%;
	width: 95%;
}

/* MENU TWO BREAKER */

.menuTwoBreaker1 {
	height: 930px;
	clear: left;
}

.menuTwoBreaker2 {
	height: 600px;
	clear: left;
}

.menuTwoBreakerBackground1 {
	height: 600px;
	background: #3E5DFF;
	position: relative;
	clear: left;
	top: 270px;

}

.menuTwoBreakerBackground2,
.menuTwoBreakerBackground3 {
	height: 500px;
	background: #3E5DFF;
	clear: left;
	position: relative;
	top: 30px;
}

.menuTwoBreakerBackground3 {
	background: #7F7A7F;
}


.menuTwoTextBreakerWhite {
	background: #40321A;
}

#menuTwoBreakerImg {
	width: 93%;
	height: 420px;
	position: relative;
	left: 3%;
	bottom: 550px;
}

#menuTwoBreakerImg2 {
	float: left;
	height: 500px;
}

#menuTwoBreakerHeader {
	text-align: center;
	color: white;
	position: relative;
	top: 30px;
	margin-bottom: 10px;
}

#menuTwoBreakerText {
	position: relative;
	left: 1%;

	/* display: inline-block; */
}

#menuTwoBreakerContainer {
	margin-left: 5%;

}

#menuTwoBreakerBoxHeader {
	padding: 15px;
}

#menuTwoBreakerGrafic {
	float: left;
	position: relative;
	top: 100px;
	left: 25px;
}

#menuTwoBreakerTextBox,
#menuTwoBreakerTextBoxResult,
#menuTwoBreakerTextBox2 {
	width: 21%;
	height: 300px;
	background: #1F2D7F;
	float: left;
	margin: 0 1%;
	margin-top: 230px;
	color: white;
	text-align: center;
	line-height: 2;
}

#menuTwoBreakerTextBox2 {
	line-height: 1.5;
	width: 35%;
	height: 250px;
	padding: 2%;
	margin-top: 70px;
	margin-left: 5%;
	font-size: 18px;
}



#menuTwoBreakerTextBoxResult {
	line-height: 300px;
	vertical-align: middle;
}

#menuTwoBreakerTextBoxResult2 {
	border: 1px solid white;
	padding: 20px;
}

.menuTwoBreakerQuote1,
.menuTwoBreakerQuote2,
.menuTwoBreakerQuote3,
.menuTwoBreakerQuote4,
.menuTwoBreakerQuote1Big {
	background: #3E5DFF; /* blue */
	height: 240px;
	margin: 60px 0;
	float: right;
	line-height: 240px;
}

.menuTwoBreakerQuote1Big {
	height: 300px;
	line-height: 300px;
}

.menuTwoBreakerQuote2 {
	background: #ff1493; /* pink */
}

.menuTwoBreakerQuote3 {
	background: #ff8b10; /* orange */
}

.menuTwoBreakerQuote4 {
	background: #333333;
}

.menuTwoBreakerQuoteTextContainer {
	vertical-align: middle;
	display: inline-block;
	width: 90%;
	margin-left: 5%;
}

#menuTwoBreakerQuoteText,
#menuTwoBreakerQuoteText2 {
	color: white;
	line-height: 1.5;
	margin-bottom: 7px;
}

#menuTwoBreakerQuoteText2 {
	color:#E5E5BA;;
}



/* MENU TWO SIDE BOX MENU */




/* TEXT TYPE RIGHT LEFT */

.textContainerTypeOneLeft,
.textContainerTypeOneRight {
	width: 90%;
	margin: 0 auto;
}


.textTypeOneLeft {
	width: 60%;
	border-right: 1px solid;
	padding-right: 20px;
	margin-bottom: 50px;
	line-height: 1.5;
	float: left;
}


.textTypeOneRight {
	width: 60%;
	border-left: 1px solid;
	padding-left: 20px;
	margin-bottom: 50px;
	line-height: 1.5;
	float:right;

}

#spacing {
	margin-bottom: 30px;
}

#paragrapSpace {
	margin-bottom: 10px;
}

/* HYBRID TEXT */

#subText {
	margin-top: 10px;
}

.hybridContainer {
	float: left;
	margin-bottom: 30px;
}

.hybridText {
	width: 90%;
	margin: 15px auto;
}

/* MAIN TEXT */

.textImgOne {

}

ul li {
	width: 90%;
	margin: 0 auto;
}

.topLi {
	margin-top: 10px;
}

.textContainer {
	width: 90%;
	margin: 60px auto;
	line-height: 1.5;
}

/* COUNTER DISPLAY BEGIN */

.counterSection {
	position: relative;
	height: 300px;
	bottom: 20px;
}

#counterContainer1,
#counterContainer2,
#counterContainer3,
#counterContainer4  {
	float: left;
	width:220px;
	text-align: center;
	color: black;
	position: relative;
	top: 20px;
	width: 25%;
	padding: 30px 0;
	font-size: 30px;
	background: #ff1493;
}

#counterContainer2 {
	background: white;
}

#counterContainer3 {
	background:#5941bf;
}

#counterContainer4 {
	background: #fffb9c;
}

#counterText {
	width: 80%;
	margin-left: 10%;
}

#counterImg {
	width: 40%;
	margin-left: 7%;
}

/* SLAVE PRICE ANIMATION BAR */

#priceBarAnimationContainer {
	height: 50px;
	line-height: 50px;
	clear: both;
}

.priceBarAnimateHeader {
	margin: 15px 0;
	margin-left: 10%;
	float: left;
	width: 250px;
	vertical-align: middle;
	font-weight: bold;
}

.priceBarAnimate1,
.priceBarAnimate2,
.priceBarAnimate3,
.priceBarAnimate4 {
	height: 50px;
	width: 30px;
	background: blue;
	opacity: .8;
	margin: 15px 0;
	color: white;
	float:left;
}

.priceBarTextHide {
	display: none;
}

.priceBarTextShow {
	display: block;
	margin-left: 20px;
}

/* PAGE BREAK */


.pageBreak {
	height: 100px;
	background: #333333;
	color: white;
	float:left;
	width: 100%;
	text-align: center;
}

.whiteSpaceNormal {
	height: 200px;
	clear:both;
}

.whiteSpace {
	height: 300px;
	float: left;
} /* Dummy class */

.sectionThree {
	height: 300px;
}

#sourcesHeader1,
#sourcesHeader2,
#sourcesHeader3,
#sourcesHeader4,
#sourcesHeader5,
#sourcesHeader6,
#sourcesHeader7 {
	text-align: center;
	margin-bottom: 15px;
	background: #3E5DFF;
	padding: 10px;
}

#sourcesHeader2 {
	background: #ff1493;
}
#sourcesHeader3 {
	background: #fffb9c;
}
#sourcesHeader4 {
	background:#5941bf;
}
#sourcesHeader5 {
	background: #63DEE5;
}
#sourcesHeader6 {
	 background: #ff8b10;
}
#sourcesHeader7 {
	background: #42bf8f;
}

#sources {
	padding: 10px;
	text-align: left;
	font-size: 18px;
}

footer {
  background: #333333;
  height: 200px;
	position: relative;
	clear:both;
	color: white;
}

#logoFooter {
	width: 170px;
	position: relative;
	top: 40px;
	left: 40px;
}

#contactContainer {
	float: left;
	font-size: 16px;
	line-height: 1.5;
	height: 200px;
	width: 25%;
}

#contactHeader,
#contactHeaderMedia {
	margin-top: 40px;
}

#postText {
	width: 85%;
}

#postText:hover {
	color: #42bf8f;
}

#contractTextSmall {
	border-bottom: 1px solid white;
	font-size: 12px;
	width: 85%;
	padding-bottom: 5px;
}

#finalLine {
	height: 60px;
	background: #353840;
	float: left;
	width: 100%;
	line-height: 60px;
}

#finalLineText {
	vertical-align: middle;
	float: right;
	margin-right: 3%;
}

.socialIconsContainer {
	position: relative;
	top: 20px;
	right: 5px;
}

.fa:hover {
	opacity: .5;
}

.fa {
	padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
	border-radius: 50%;
	display: inline-block;
	margin:5px;
}

.fa-facebook {
	background: #3B5998;
 	color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
	background: -webkit-linear-gradient(to right bottom, #8e9eab, #eef2f3);
  background:    -moz-linear-gradient(to right bottom, #8e9eab, #eef2f3);
  background:         linear-gradient(to right bottom, #f39f4c, #551A8B);
  color: white;
}
